<% provide(:title, "Home") %>
<!-- <body id="home_only"> -->
<section id="hero1" class="hero">
  <div class="inner_1">
    <div class="center_home">
    <h1>Manage Kasi Kari</h1>
    <% if logged_in? %>
      <div id="register_buttons">
        <%= link_to "アイテムを登録する", new_item_path, class: "btn btn-lg btn-primary register-button" %>
        <%= link_to "貸し借りを登録する", new_kasikari_path, class: "btn btn-lg btn-primary register-button" %>
      </div>
    <% else %>
      <h2>
        物の貸し借りをより良い体験に
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
    </div>
  </div>
</section>
<!-- </body> -->

<section class="content" id="about">
  <div class="inner_2_1">
    <h4>概要</h4>
    <div class="about1">
      <div class="hero_img share">
        <img src="/images/hero-logo/share-logo.png"  width="150" height="140">
        <p>
          <h6>貸し借りのSNS</h6>
          友人との「物の貸し借り」を可視化<br>
          どんどん友人の物を借りよう！
        </p>
      </div>
      <div class="hero_img mane">
        <img src="/images/hero-logo/kasikari-logo.png" width="150" height="140">
        <p>
          <h6>貸し借り管理</h6>
          貸し借りでのトラブルを防止<br>
          「貸しっぱなし」「借りっぱなし」<br>を無くします！
        </p>
      </div>
    </div>
  </div>
  <div class="inner_2_2">
    <h4>機能</h4>
    <div class="about2">
      <br>

      <div class="hero_img">
        <img src="/images/hero-logo/time-logo.png" width="150" height="140">
        <p>
          <h6>タイムライン</h6>
          タイムラインで貸し借りを促進<br>
          他の人の貸し借りを見ることができます
        </p>
      </div>
      <div class="hero_img">
        <img src="/images/hero-logo/tuti-logo.png" width="150" height="140">
        <p>
          <h6>プッシュ通知</h6>
          プッシュ通知で返却期限をお知らせ<br>
          返却しないといけないことをリマインド！
        </p>
      </div>

      <div class="hero_img">
        <img src="/images/hero-logo/ap-logo.png" width="150" height="140">
        <p>
          <h6>予約</h6>
          借りたいアイテムを予約<br>
          相手に「次借りたい！」を伝えよう
        </p>
      </div>

    </div>
  </div>
</section>

<section id="hero_use" >
  <div class="inner_3">
    <h4>How to Use</h4>
    <div class="hero_page">
      <h3>タイムライン</h3>
      <p>ユーザが登録しているフレンド間の貸し借りを表示します。<br>
      借りた日と返却期限を表示しています。</p>
      <img src="/images/hero-page/use1.png" width="800" height="443" class="hero_use">
      <div class="hero_border"></div>
    </div>
    <div class="hero_page">
      <h3>アイテム一覧</h3>
      <p>ユーザが登録しているアイテムの一覧を表示します。<br>
        貸し出しが可能であるアイテムと不可能であるアイテムの情報も確認できます。</p>
      <img src="/images/hero-page/use2.png" width="800" height="443" class="hero_use">
      <div class="hero_border"></div>
    </div>
    <div class="hero_page">
      <h3>フレンド一覧</h3>
      <p>ユーザが登録しているフレンド一覧を表示します。<br>
        他ユーザのフレンド数と貸し出しアイテムの総数を確認できます。</p>
      <img src="/images/hero-page/use3.png" width="800" height="443" class="hero_use">
      <div class="hero_border"></div>
    </div>
    <div class="hero_page">
      <h3>通知</h3>
      <p>自分のアイテムを借りたい他ユーザからの申請一覧を表示しています。<br>
      申請に対して許可・拒否が選択できます。</p>
      <img src="/images/hero-page/use4.png" width="800" height="364" class="hero_use">
      <!-- <div class="hero_border"></div> -->
    </div>
  </div>
</section>

<section class="content" id="rank">
  <div class="inner_4">
    <h3>ランキング</h3>
    comming soon...
  </div>
</section>

<section id="hero1" class="hero">
  <div class="inner_5">
    <div class="center_home">
    <div class="hero_img">
      <img src="/images/hero-logo/KK2-logo.png" width="250" height="155">
      <!-- <p>
        これらの機能を有するのがMKKです
      </p> -->
    </div>
    <h2>物の貸し借りを良い体験にしませんか？</h2>
    <% if logged_in? %>
      <h2></h2>
      <%= link_to "アイテムを登録する", new_item_path, class: "btn btn-lg btn-primary" %>
    <% else %>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
  </div>
</section>

<section class="content" id="help">
  <div class="inner_6">
    <div class="center_home">
    <h3>Help</h3>
    <p>
      Get help on MKK at the
      <a href="#/help">MKK help page</a>.
    </p>
    </div>
  </div>
</section>
