<div class="friends_list_person">
  <li>
    <%= thumbnail_for user, size: 100 %>
    <%= link_to user.name, user , class:"users_name" %>
  </li>

  <div class="stats">
    <a href="<%= friends_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.friends.count %>
      </strong>
      友達
    </a>
    <a href="<%= items_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.items.count %>
      </strong>
      アイテム
    </a>
  </div>
</div>
