<div class="friends_list_person">
  <li>
    <%= thumbnail_for user, size: 150 %>
    <%= link_to user.name, user , class:"users_name" %>
  </li>

  <div class="stats">
    <a href="<%= friends_user_path(user) %>">
      <strong id="following" class="stat">
        <%= user.friends.count %>
      </strong>
      フレンド <i class="fa fa-users" aria-hidden="true"></i>
    </a>
    <a href="<%= items_user_path(user) %>">
      <strong id="following" class="stat">
        <%= user.items.count %>
      </strong>
      アイテム <i class="fa fa-briefcase" aria-hidden="true"></i>
    </a>
  </div>
</div>
