<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="user_items">
      <h1>登録したアイテム一覧</h1>
      <% if @user.items.any? %>
        <ul>
          <% @user.items.each do |item| %>
            <a href="<%= item_path(item) %>">
            <li>
              <%= thumbnail_for item, size: 50 %>
              <%= item.name %>
            </li>
            </a>
          <% end %>
          <div class="col-md-8 btn btn-primary">アイテムを追加</div>
        </ul>
      <% else %>
        <h2>登録したものはありません</h2>
        <div class="col-md-8 btn btn-primary">アイテムを登録</div>
      <% end %>
    </section>
  </aside>
</div>
