<% provide(:title, "Friends") %>
<div class="row">
  <div class="set_position_friends">
    <section class="user_me user_me_friends">
      <section class="user_info user_info_friends">
        <%= thumbnail_for @user %>
        <h6><%= @user.name %></h6>
        <span><%= link_to "view my profile", @user %></span>
        <span><b>Items:</b> <%= @user.items.count %></span>
      </section>
        <%= render 'shared/stats' %>
        <% if @users.any? %>
        <% end %>
    </section>

    <section class="friends_list">
      <h6>友だち</h6>
      <% if @users.any? %>
        <ul class="users_follow">

            <% @users.each do |user| %>
              <%= render 'friend_user', user: user %>
            <% end %>
        </ul>
        <% # = will_paginate %>
      <% end %>
    </section>
  </div>
</div>
