<div class="panel_container">
  <div class="panel panel-default">
    <div class="panel-heading">
      貸すユーザー
    </div>
    <div class="panel-body">
      選択されていません
    </div>
    <div class="panel-footer">
      <button type="button" id="from_user" class="btn btn-primary">選択する</button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      アイテム
    </div>
    <div class="panel-body">
      選択されていません
    </div>
    <div class="panel-footer">
      <button type="button" id="kasikari_item" class="btn btn-primary">選択する</button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      借りるユーザー
    </div>
    <div class="panel-body">
      選択されていません
    </div>
    <div class="panel-footer">
      <button type="button" id="to_user" class="btn btn-primary">選択する</button>
    </div>
  </div>
</div>

<%= render 'shared/error_messages', object: @kasikari %>

<%= form_for(@kasikari) do |f| %>

  <%= f.hidden_field :item_id, class: 'form-control' %>
  <%= f.hidden_field :from_user_id, class: 'form-control' %>
  <%= f.hidden_field :to_user_id, class: 'form-control' %>

  <div class="date_form_container">
    <div class="date_form">
      貸出日
      <%= f.text_field :start_date, class: 'datepicker form-control' %>
    </div>

    <i class="fa fa-angle-right" aria-hidden="true"></i>

    <div class="date_form">
      返却日
      <%= f.text_field :end_date, class: 'datepicker form-control' %>
    </div>
  </div>

  <!--
    <%= f.label "ステータス" %>
    <%= f.select :status, Kasikari.statuses.keys.to_a, {}, class: 'form-control' %>
  -->

  <%= f.submit "登録", class: "btn btn-primary" %>
<% end %>

<!-- モーダルウィンドウ用 -->
<div id="modal_from_user" class="modal_content">
  <p>「閉じる」か「背景」をクリックするとモーダルウィンドウを終了します。</p>
  <p><a id="modal_close" class="button_link">閉じる</a></p>
</div>
<div id="modal_kasikari_item" class="modal_content">
  <p>「閉じる」か「背景」をクリックするとモーダルウィンドウを終了します。</p>
  <p><a id="modal_close" class="button_link">閉じる</a></p>
</div>
<div id="modal_to_user" class="modal_content">
  <p>「閉じる」か「背景」をクリックするとモーダルウィンドウを終了します。</p>
  <p><a id="modal_close" class="button_link">閉じる</a></p>
</div>
  <script>
//モーダルウィンドウのコンテンツをセンタリングする
function centeringModalSyncer(modal_content){
  var w = $(window).width();
  var h = $(window).height();

  var cw = modal_content.outerWidth();
  var ch = modal_content.outerHeight();

  var pxleft = ((w - cw)/2);
  var pxtop = ((h - ch)/2);

  $(".modal_content").css({ "left": pxleft + "px" });
  $(".modal_content").css({ "top":  pxtop  + "px" });
}

$(".panel-footer > button").click(
  function(){
    // モーダルの多重起動を防止
    $(this).blur();
    if($("#modal_overlay")[0]) {
      return false;
    }

    // オーバーレイを追加
    $("body").append('<div id="modal_overlay"></div>');
    $("#modal_overlay").fadeIn("slow");

    var content = $("#modal_" + $(this)[0].id);
    content.fadeIn("slow");
    centeringModalSyncer(content);
  }
);

$("#modal_overlay, #modal_close").unbind().click(function(){
  $(".modal_content, #modal_overlay").fadeOut("slow", function(){
    $("#modal_overlay").remove();
  });
});

// 個々のモーダルコンテンツ
  </script>
