<% item      = kasikari.item %>
<% from_user = kasikari.from_user %>
<% to_user   = kasikari.to_user %>

<div class="time_show">
  <div class="notification_time">
    <%= print_time(kasikari.updated_at) %>
  </div>
  借りた日(<%= kasikari.start_date%>)〜返却期限(<%= kasikari.end_date%>)

<li>
  <div class="kasikari_from_user">
    <%= link_to from_user do %>
      <%= thumbnail_for from_user, size: 100 %>
      <%= from_user.name%>
    <% end %>
  </div>

  <div class="kasikari_item">
    <%= link_to item do %>
      <%= thumbnail_for item, size: 100 %>
      <%= item.name %>
    <% end %>
  </div>

  <div class="kasikari_to_user">
    <%= link_to to_user do %>
      <%= thumbnail_for to_user, size: 100 %>
      <%= to_user.name%>
    <% end %>
  </div>
</li>

</div>
