<% provide(:title, "貸し借り") %>

<div class="container">
  <div class="row">
    <div class="back_to_kasikaris">
      <%= link_to kasikaris_user_path(current_user) do %>
        <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>  貸し借り一覧へ
      <% end %>
    </div>

    <div class="kasikari_row">

      <div class="kasikari-rent">
        <div id="rentday">
          貸出日<br><%= @kasikari.start_date %>
      </div>
      <div class="from_user_info">
        <%= render @kasikari.from_user %>
      </div>

      <div class="rent arrow">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>

      <div class="item">
        <%= render @kasikari.item %>
      </div>

      <div class="rent arrow">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>

      <div class="to_user_info" >
        <%= render @kasikari.to_user %>
      </div>

      </div>

      <div class="kasikari-return">
        <div class="from_user_info">
          <%= render @kasikari.from_user %>
        </div>

        <div class="return arrow">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>

        <div class="item">
          <%= render @kasikari.item %>
        </div>

        <div class="return arrow">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>

        <div class="to_user_info" >
          <%= render @kasikari.to_user %>
        </div>
        <div id="returnday">
          返却日<br><%= @kasikari.end_date %>
      </div>
      </div>

      <div id="kasi_state">
        <% if @kasikari.applying? %>
          <div id="applying" ><i class="fa fa-pencil" aria-hidden="true"></i>申請中</div>
        <% end %>
        <% if @kasikari.ongoing? %>
          <div id="ongoing"><i class="fa fa-spinner" aria-hidden="true"></i>貸し借り中</div>
        <% end %>
        <% if @kasikari.denied? %>
          <div id="denied"><i class="fa fa-ban" aria-hidden="true"></i>拒否されました</div>
        <% end %>
        <% if @kasikari.done? %>
          <div id="done"><i class="fa fa-check-circle" aria-hidden="true"></i>貸し借り終了</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
