<% provide(:title, @item.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= thumbnail_for @item, size: 100 %>
        <%= @item.name %>
        <div id="edit_item">
          <% if logged_in? && current_user.id === @item.user_id %>
            | <%= link_to "編集", edit_item_path(@item) %>
            | <%= link_to "削除", @item, method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
      </div>
      </h1>
    </section>
    <%= link_to user_path(current_user) do %>
      <h5> 一覧へ </h5>
    <% end %>
  </aside>
</div>
