<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="/"></a>
    <!-- <%= link_to "MKK", root_path, id: "logo" %> -->
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if current_page?(root_path) %>
          <li>
            <%= link_to '/#about' do%>
              <i class="fa fa-book fa-lg" aria-hidden="true"></i>
              <h7>概要</h7>
            <% end %>
          </li>
          <li>
            <%= link_to '/#help' do%>
              <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
              <h7>ヘルプ</h7>
            <% end %>
          </li>
        <% else %>
        <li>
          <%= link_to root_path do%>
            <i class="fa fa-font-awesome fa-lg" aria-hidden="true"></i>
            <h7>トップ</h7>
          <% end %>
        </li>
        <% end %>
        <% if logged_in? %>
          <li>
            <%= link_to notification_path, class: "notification" do %>
              <i class="fa fa-bell-o fa-lg" aria-hidden="true"></i>
              <h7>通知</h7>
            <% end %>
          </li>
          <li>
            <%= link_to friends_user_path(current_user) do%>
              <i class="fa fa-users fa-lg" aria-hidden="true"></i>
              <h7>フレンド</h7>
            <% end %>
          </li>
          <li>
            <%= link_to items_user_path(current_user) do%>
              <i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>
              <h7>アイテム</h7>
            <% end %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> -->
              <%= thumbnail_for current_user %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to current_user do%>
                  プロフィール
                  <i class="fa fa-user" aria-hidden="true"></i>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_path(current_user) do%>
                  設定
                  <i class="fa fa-cog" aria-hidden="true"></i>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to logout_path, method: "delete" do%>
                  Log out
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                <% end %>
              </li>
            </ul>
          </li>


        <% else %>
          <li>
            <%= link_to login_path do%>
              <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
              Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<!-- <li class="dropdown">
  <a href="#" class="dropdown-function dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-align-justify fa-lg" aria-hidden="true"></i>
    <h7>機能</h7>
    <b class="caret"></b>
  </a>

  <ul class="dropdown-menu">
    <li>
      <%= link_to friends_user_path(current_user) do%>
        フレンド
        <i class="fa fa-users" aria-hidden="true"></i>
      <% end %>
    </li>
    <li>
      <%= link_to items_user_path(current_user) do%>
        アイテム
        <i class="fa fa-briefcase" aria-hidden="true"></i>
      <% end %>
    </li>
  </ul>


</li> -->
